n8n-workflows/WF2 - Lead Handoff.json
{
  "name": "WF2 - Lead Handoff",
  "nodes": [
    {
      "parameters": {},
      "id": "01fa9ece-4f42-419e-8d1c-cf505dac9d0b",
      "name": "Handoff Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "handoff-dashboard",
        "responseMode": "onReceived",
        "responseData": "{\"status\":\"ok\",\"message\":\"Handoff tetiklendi\"}",
        "options": {}
      },
      "id": "wb2dash01-0000-4000-a000-dashboard0001",
      "name": "Dashboard Handoff Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        -368
      ],
      "webhookId": "handoff-dashboard-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Normalize both trigger sources into a common format.\n// executeWorkflowTrigger (WF1 auto): has conversationId, contactId, lead_score\n// webhook (Dashboard manual): has conversationId, triggeredBy\nlet id, triggerType, triggeredBy;\n\n// Try executeWorkflow trigger first\nlet executeData = null;\ntry { executeData = $('Handoff Input').first().json; } catch(e) {}\n\n// Try webhook trigger\nlet webhookData = null;\ntry { webhookData = $('Dashboard Handoff Webhook').first().json; } catch(e) {}\n\nif (executeData && (executeData.conversationId || executeData.id)) {\n  id = executeData.conversationId || executeData.id;\n  triggerType = 'score_threshold';\n  triggeredBy = 'ai_system';\n} else if (webhookData) {\n  // n8n webhook v2: body is nested under .body key\n  const body = (webhookData.body && webhookData.body.conversationId) ? webhookData.body : webhookData;\n  id = body.conversationId || body.id;\n  triggerType = 'manual';\n  triggeredBy = body.triggeredBy || 'dashboard';\n}\n\nif (!id) throw new Error('conversationId bulunamadi. executeData: ' + JSON.stringify(executeData) + ' webhookData: ' + JSON.stringify(webhookData));\n\nreturn [{ json: { id, trigger_type: triggerType, triggered_by: triggeredBy } }];"
      },
      "id": "prep0001-0000-4000-a000-prepare00001",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -464
      ]
    },
    {
      "parameters": {
        "url": "=https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/conversations?id=eq.{{ $json.id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.supabaseKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97b577af-a027-4aa6-aff1-6caaca66edc1",
      "name": "Get Full Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge conversation data from Supabase with trigger metadata\nconst prepareData = $('Prepare Input').item.json;\nconst convRaw = $('Get Full Conversation').item.json;\nconst conv = Array.isArray(convRaw) ? convRaw[0] : convRaw;\nreturn [{ json: {\n  id: conv.id,\n  contact_id: conv.contact_id,\n  clinic_id: conv.clinic_id,\n  lead_score: conv.lead_score || 0,\n  current_stage: conv.current_stage,\n  collected_data: conv.collected_data || {},\n  lead_signals: conv.lead_signals || {},\n  images_received: conv.images_received || 0,\n  trigger_type: prepareData.trigger_type,\n  triggered_by: prepareData.triggered_by\n} }];"
      },
      "id": "merge001-0000-4000-a000-mergeconv001",
      "name": "Merge Conv Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -464
      ]
    },
    {
      "parameters": {
        "url": "=https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/messages?conversation_id=eq.{{ $json.id }}&order=created_at.asc&limit=30",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.supabaseKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31a26b79-af5b-421c-8bfc-399d72fddff6",
      "name": "Get All Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const convData = $('Merge Conv Data').item.json;\nconst messagesRaw = $('Get All Messages').item.json;\nconst messages = Array.isArray(messagesRaw) ? messagesRaw : [messagesRaw];\n\nconst messagesText = messages.filter(m => m && m.content).map(m => \n  `${m.role === 'user' ? 'HASTA' : 'ASİSTAN'}: ${m.content}`\n).join('\\n');\n\nconst summaryPrompt = [\n  { role: 'system', content: `Sen bir satış analisti asistanısın. Hasta-asistan WhatsApp konuşmasını analiz et. HER ZAMAN TÜRKÇE yaz.\\n\\nJSON formatında yanıt ver:\\n{\\n  \"summary\": \"2-3 cümlelik konuşma özeti\",\\n  \"suggested_approach\": \"Satışcı bu hastayla nasıl konuşmalı? Hassas noktalar, öneriler\"\\n}` },\n  { role: 'user', content: `Konuşma:\\n${messagesText}\\n\\nToplanan Veriler: ${JSON.stringify(convData.collected_data || {})}\\nLead Score: ${convData.lead_score || 0}` }\n];\n\nreturn [{ json: {\n  ...convData,\n  summaryPrompt,\n  collectedData: convData.collected_data || {},\n  leadSignals: convData.lead_signals || {},\n  imagesReceived: convData.images_received || 0,\n  score: convData.lead_score || 0\n} }];"
      },
      "id": "4bdbba56-c9a5-4341-9ecb-b215d6f2ca33",
      "name": "Build Summary Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0.5,\n  \"max_tokens\": 400,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": {{ JSON.stringify($json.summaryPrompt) }}\n}",
        "options": {}
      },
      "id": "b2d73b56-1d2c-4f43-bee7-8e1c358a529f",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cc9Z3PiEo03vJ1hN",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResp = $input.item.json;\nconst prev = $('Build Summary Prompt').item.json;\nlet summary = '', approach = '';\n\ntry {\n  const parsed = JSON.parse(aiResp.choices[0].message.content);\n  summary = parsed.summary || 'Özet oluşturulamadı';\n  approach = parsed.suggested_approach || 'Standart yaklaşım önerilir';\n} catch(e) {\n  summary = 'Özet oluşturulamadı';\n  approach = 'Standart yaklaşım önerilir';\n}\n\nconst cd = prev.collectedData || {};\n\nconst noteBody = `🤖 AI Qualification Raporu\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n📋 ÖZET\\n${summary}\\n\\n👤 HASTA BİLGİLERİ\\nAd: ${cd.name || 'Belirtilmedi'}\\nHizmet: ${cd.interested_service || 'Belirtilmedi'}\\nPain Point: ${cd.pain_point || 'Belirtilmedi'}\\nTimeline: ${cd.timeline || 'Belirtilmedi'}\\nBütçe: ${cd.budget_awareness || 'Sorulmadı'}\\nDaha Önce: ${cd.previous_consultation || 'Belirtilmedi'}\\nÖn Görüşme: ${cd.preferred_consultation_type || 'Belirtilmedi'}\\nTercih: ${cd.preferred_day_time || 'Belirtilmedi'}\\nSağlık: ${cd.special_health_notes || 'Yok'}\\n${prev.imagesReceived > 0 ? '📎 Görsel: ' + prev.imagesReceived + ' adet' : ''}\\n\\n📊 LEAD SCORE: ${prev.score}/100\\n\\n🚀 KAYNAK: ${prev.trigger_type === 'manual' ? 'Manuel (Dashboard)' : 'AI Otomatik'}\\n${prev.triggered_by ? '👤 Tetikleyen: ' + prev.triggered_by : ''}\\n\\n💡 ÖNERİLEN YAKLAŞIM\\n${approach}\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━`;\n\nreturn [{ json: { ...prev, summary, approach, noteBody } }];"
      },
      "id": "36029a3b-1ee4-4548-a953-c0283ed3c29e",
      "name": "Parse Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/functions/v1/crm-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"version\": \"v1\",\n  \"action\": \"add_tags\",\n  \"clinic_id\": $('Merge Conv Data').first().json.clinic_id,\n  \"correlation_id\": $('Merge Conv Data').first().json.contact_id + \"_hotlead_\" + Date.now(),\n  \"idempotency_key\": $('Merge Conv Data').first().json.contact_id + \"_hotlead\",\n  \"params\": {\n    \"contact_id\": $('Merge Conv Data').first().json.contact_id,\n    \"tags\": [\"hot_lead\",\"human_handoff\",\"appointment_ready\"]\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ghl-tags01-0000-4000-a000-hotleadtag01",
      "name": "GHL Add Hot Lead Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        -608
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/functions/v1/crm-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"version\": \"v1\",\n  \"action\": \"update_contact_fields\",\n  \"clinic_id\": $('Merge Conv Data').first().json.clinic_id,\n  \"correlation_id\": $('Merge Conv Data').first().json.contact_id + \"_handoff_\" + Date.now(),\n  \"idempotency_key\": $('Merge Conv Data').first().json.contact_id + \"_handoff_fields\",\n  \"params\": {\n    \"contact_id\": $('Merge Conv Data').first().json.contact_id,\n    \"fields\": {\n      \"lead_score\":            $('Parse Summary').first().json.score,\n      \"qualification_status\":  \"qualified\",\n      \"ai_summary\":            $('Parse Summary').first().json.summary,\n      \"ai_suggested_approach\": $('Parse Summary').first().json.suggested_approach,\n      \"interested_service\":    $('Parse Summary').first().json.interested_service\n    }\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8e2cc83b-20a7-4ac6-ab9b-0f520823b9d9",
      "name": "GHL Update Custom Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        -320
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/functions/v1/crm-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"version\": \"v1\",\n  \"action\": \"remove_tags\",\n  \"clinic_id\": $('Merge Conv Data').first().json.clinic_id,\n  \"correlation_id\": $('Merge Conv Data').first().json.contact_id + \"_rmtag_\" + Date.now(),\n  \"idempotency_key\": $('Merge Conv Data').first().json.contact_id + \"_remove_ai_handoff\",\n  \"params\": {\n    \"contact_id\": $('Merge Conv Data').first().json.contact_id,\n    \"tags\": [\"ai_active\",\"warm_lead\"]\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fe6b2e01-4c11-4955-b6d8-81b18818cd87",
      "name": "GHL Remove AI Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        -464
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/functions/v1/crm-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"version\": \"v1\",\n  \"action\": \"create_note\",\n  \"clinic_id\": $('Merge Conv Data').first().json.clinic_id,\n  \"correlation_id\": $('Merge Conv Data').first().json.contact_id + \"_note_\" + Date.now(),\n  \"idempotency_key\": $('Merge Conv Data').first().json.contact_id + \"_handoff_note\",\n  \"params\": {\n    \"contact_id\": $('Merge Conv Data').first().json.contact_id,\n    \"note\":       $('Parse Summary').first().json.noteBody,\n    \"note_type\":  \"handoff_summary\"\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5df96a8a-3589-4223-95fb-d28c3c886f2d",
      "name": "GHL Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        -464
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/functions/v1/crm-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"version\": \"v1\",\n  \"action\": \"send_message\",\n  \"clinic_id\": $('Merge Conv Data').first().json.clinic_id,\n  \"correlation_id\": $('Merge Conv Data').first().json.contact_id + \"_closing_\" + Date.now(),\n  \"idempotency_key\": $('Merge Conv Data').first().json.contact_id + \"_closing_msg\",\n  \"params\": {\n    \"contact_id\":   $('Merge Conv Data').first().json.contact_id,\n    \"message\":      $('Parse Summary').first().json.closingMessage || \"Bilgilerinizi ekibimize ilettim. En kısa sürede sizinle iletişime geçecekler.\",\n    \"message_type\": \"SMS\"\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6bf3b439-8ef7-4712-8c53-e922617c0c69",
      "name": "GHL Closing Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        -464
      ],
      "credentials": {},
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/conversations?id=eq.{{ $('Parse Summary').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.supabaseKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"handed_off\",\n  \"handoff_triggered\": true,\n  \"handoff_at\": \"{{ new Date().toISOString() }}\",\n  \"handoff_summary\": {{ JSON.stringify($('Parse Summary').item.json.summary) }},\n  \"handoff_suggested_approach\": {{ JSON.stringify($('Parse Summary').item.json.approach) }},\n  \"human_takeover\": true,\n  \"human_takeover_at\": \"{{ new Date().toISOString() }}\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "da8af41e-7e77-42b2-b97b-3a49ea9b2193",
      "name": "Update Conv Handoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/handoff_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.supabaseKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic_id\": \"{{ $('Parse Summary').item.json.clinic_id }}\",\n  \"conversation_id\": \"{{ $('Parse Summary').item.json.id }}\",\n  \"contact_id\": \"{{ $('Parse Summary').item.json.contact_id }}\",\n  \"trigger_type\": \"{{ $('Parse Summary').item.json.trigger_type }}\",\n  \"triggered_by\": \"{{ $('Parse Summary').item.json.triggered_by }}\",\n  \"lead_score_at_handoff\": {{ $('Parse Summary').item.json.score }}\n}",
        "options": {}
      },
      "id": "454fa9e4-7355-45fd-95e4-1148c541aea6",
      "name": "Log Handoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        -464
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Handoff Input": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard Handoff Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Get Full Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Conversation": {
      "main": [
        [
          {
            "node": "Merge Conv Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Conv Data": {
      "main": [
        [
          {
            "node": "Get All Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Messages": {
      "main": [
        [
          {
            "node": "Build Summary Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Prompt": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Parse Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary": {
      "main": [
        [
          {
            "node": "GHL Add Hot Lead Tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "GHL Update Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Add Hot Lead Tags": {
      "main": [
        [
          {
            "node": "GHL Remove AI Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Update Custom Fields": {
      "main": [
        [
          {
            "node": "GHL Remove AI Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Remove AI Tag": {
      "main": [
        [
          {
            "node": "GHL Add Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Add Note": {
      "main": [
        [
          {
            "node": "GHL Closing Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Closing Message": {
      "main": [
        [
          {
            "node": "Update Conv Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conv Handoff": {
      "main": [
        [
          {
            "node": "Log Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "446e72e0-a526-40ea-87c4-82ee31918f9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7ca8ba8500495191ee82da116d3a2d4871317bef04b1593bd69df3fd909701b"
  },
  "id": "aIi64niJ90ZWmfCb",
  "tags": [
    {
      "updatedAt": "2026-02-27T10:27:03.994Z",
      "createdAt": "2026-02-27T10:27:03.994Z",
      "id": "VfntH0O8QWGekkEI",
      "name": "CoreProduct"
    }
  ]
}