n8n-workflows/WF4 - Daily Stats.json
{
  "name": "WF4 - Daily Stats",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "59 23 * * *"
            }
          ]
        }
      },
      "id": "3eb0cca0-f1e2-4d98-910a-2b6c2a61700d",
      "name": "Daily 23:59",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-304, -320]
    },
    {
      "parameters": {
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/clinics?status=eq.active&select=id,name,email,lead_doctor_name",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            }
          ]
        },
        "options": {}
      },
      "id": "7dbfe757-c19a-46c7-bcdf-76143eb06ffc",
      "name": "Get Active Clinics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-64, -320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst clinics = Array.isArray(raw) ? raw : [raw];\nreturn clinics.filter(c => c && c.id).map(c => ({ json: c }));"
      },
      "id": "9c35ca5f-b219-463c-9869-90c7185ff1ca",
      "name": "Split Clinics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, -320]
    },
    {
      "parameters": {
        "url": "=https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/conversations?clinic_id=eq.{{ $json.id }}&select=created_at,lead_score,handoff_triggered,status&limit=1000",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            }
          ]
        },
        "options": {}
      },
      "id": "e805ff27-08e5-4fdc-8a2a-acf315813e7a",
      "name": "Get Clinic Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [432, -320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clinicData = $('Split Clinics').item.json;\nconst clinicId = clinicData.id;\n\nconst convItems = $input.all();\nconst convs = convItems.map(i => i.json);\n\nconst today = new Date().toISOString().split('T')[0];\n\nlet newLeads = 0, hot = 0, warm = 0, cold = 0, handoffs = 0, totalScore = 0, count = 0;\n\nfor (const c of convs) {\n  if (!c) continue;\n\n  if (c.created_at && c.created_at.startsWith(today)) newLeads++;\n\n  count++;\n\n  const s = c.lead_score || 0;\n  totalScore += s;\n\n  if (s >= 70) hot++;\n  else if (s >= 40) warm++;\n  else cold++;\n\n  if (c.handoff_triggered) handoffs++;\n}\n\nreturn [{\n  json: {\n    clinic_id: clinicId,\n    clinic_name: clinicData.name || '',\n    clinic_email: clinicData.email || null,\n    lead_doctor_name: clinicData.lead_doctor_name || null,\n    date: today,\n    new_conversations: newLeads,\n    hot_leads: hot,\n    warm_leads: warm,\n    cold_leads: cold,\n    handed_off_leads: handoffs,\n    avg_lead_score: count > 0 ? parseFloat((totalScore / count).toFixed(2)) : 0\n  }\n}];"
      },
      "id": "0892385f-c3d8-4747-b4df-540fc972c6fe",
      "name": "Calculate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, -320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/daily_stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic_id\": \"{{ $json.clinic_id }}\",\n  \"date\": \"{{ $json.date }}\",\n  \"new_conversations\": {{ $json.new_conversations }},\n  \"hot_leads\": {{ $json.hot_leads }},\n  \"warm_leads\": {{ $json.warm_leads }},\n  \"cold_leads\": {{ $json.cold_leads }},\n  \"handed_off_leads\": {{ $json.handed_off_leads }},\n  \"avg_lead_score\": {{ $json.avg_lead_score }}\n}",
        "options": {}
      },
      "id": "e6fac65f-5505-426f-987f-8268ce8de0bf",
      "name": "Upsert Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, -320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const s = $('Calculate Stats').item.json;\nconst clinicName = s.clinic_name || 'Klinik';\nconst doctorName = s.lead_doctor_name ? `Dr. ${s.lead_doctor_name}` : '';\nconst dateStr = new Date().toLocaleDateString('tr-TR', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\nconst scoreColor = s.avg_lead_score >= 70 ? '#dc2626' :\n  s.avg_lead_score >= 40 ? '#d97706' : '#3b82f6';\n\nconst summaryParts = [];\nsummaryParts.push(`Bugün <strong>${s.new_conversations}</strong> yeni konuşma başladı.`);\nif (s.hot_leads > 0) summaryParts.push(`<strong style=\"color:#dc2626\">${s.hot_leads} hot lead 🔥</strong> sıcak fırsata dönüştü.`);\nelse summaryParts.push('Hot lead oluşmadı.');\nif (s.handed_off_leads > 0) summaryParts.push(`<strong>${s.handed_off_leads}</strong> konuşma satış ekibine devredildi.`);\nelse summaryParts.push('Otomatik devir yapılmadı.');\nsummaryParts.push(`Ortalama lead skoru: <strong style=\"color:${scoreColor}\">${s.avg_lead_score}/100</strong>.`);\n\nconst html = `<!DOCTYPE html>\n<html lang=\"tr\">\n<head><meta charset=\"UTF-8\">\n<style>\n*{box-sizing:border-box;margin:0;padding:0}\nbody{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;background:#f1f5f9;padding:24px}\n.wrap{max-width:560px;margin:0 auto}\n.head{background:linear-gradient(135deg,#1e40af 0%,#3b82f6 100%);color:#fff;padding:28px 24px;border-radius:14px 14px 0 0}\n.head h1{font-size:20px;font-weight:700;margin-bottom:4px}\n.head p{font-size:12px;opacity:.85}\n.body{background:#fff;padding:24px;border:1px solid #e2e8f0;border-top:0}\n.summary{background:#eff6ff;border:1px solid #bfdbfe;border-radius:10px;padding:16px 18px;margin-bottom:20px;font-size:13.5px;color:#1e3a8a;line-height:1.8}\n.grid{display:grid;grid-template-columns:repeat(3,1fr);gap:10px;margin-bottom:4px}\n.card{border:1px solid #e2e8f0;border-radius:10px;padding:14px 10px;text-align:center}\n.num{font-size:28px;font-weight:800;line-height:1}\n.lbl{font-size:11px;color:#64748b;margin-top:5px}\n.foot{background:#f8fafc;border:1px solid #e2e8f0;border-top:0;padding:14px 24px;border-radius:0 0 14px 14px;text-align:center;font-size:11px;color:#94a3b8}\n.foot a{color:#3b82f6;text-decoration:none}\n</style></head>\n<body><div class=\"wrap\">\n  <div class=\"head\">\n    <h1>📊 Günlük AI Asistan Raporu</h1>\n    <p>${clinicName}${doctorName ? ' &middot; ' + doctorName : ''} &middot; ${dateStr}</p>\n  </div>\n  <div class=\"body\">\n    <div class=\"summary\">${summaryParts.join(' ')}</div>\n    <div class=\"grid\">\n      <div class=\"card\">\n        <div class=\"num\" style=\"color:#1e40af\">${s.new_conversations}</div>\n        <div class=\"lbl\">🆕 Yeni Konuşma</div>\n      </div>\n      <div class=\"card\" style=\"border-left:3px solid #ef4444\">\n        <div class=\"num\" style=\"color:#dc2626\">${s.hot_leads}</div>\n        <div class=\"lbl\">🔥 Hot Lead (&ge;70)</div>\n      </div>\n      <div class=\"card\" style=\"border-left:3px solid #f59e0b\">\n        <div class=\"num\" style=\"color:#d97706\">${s.warm_leads}</div>\n        <div class=\"lbl\">🌡️ Warm Lead (40-69)</div>\n      </div>\n      <div class=\"card\" style=\"border-left:3px solid #3b82f6\">\n        <div class=\"num\" style=\"color:#3b82f6\">${s.cold_leads}</div>\n        <div class=\"lbl\">❄️ Cold Lead (&lt;40)</div>\n      </div>\n      <div class=\"card\" style=\"border-left:3px solid #10b981\">\n        <div class=\"num\" style=\"color:#059669\">${s.handed_off_leads}</div>\n        <div class=\"lbl\">🤝 Handoff</div>\n      </div>\n      <div class=\"card\" style=\"border-left:3px solid #8b5cf6\">\n        <div class=\"num\" style=\"color:${scoreColor}\">${s.avg_lead_score}</div>\n        <div class=\"lbl\">📈 Ort. Lead Skoru</div>\n      </div>\n    </div>\n  </div>\n  <div class=\"foot\">\n    Bu rapor <strong>stoaix AI Asistan</strong> tarafından otomatik oluşturulmuştur.<br>\n    <a href=\"https://panel.stoaix.com\">panel.stoaix.com</a>'dan detaylı analitiğe ulaşabilirsiniz.\n  </div>\n</div></body></html>`;\n\nreturn [{\n  json: {\n    to: s.clinic_email || 'admin@stoaix.com',\n    subject: `📊 Günlük AI Raporu – ${clinicName} – ${new Date().toLocaleDateString('tr-TR')}`,\n    html\n  }\n}];"
      },
      "id": "f7e8d9c0-a1b2-4c3d-8e9f-0a1b2c3d4e5f",
      "name": "Format Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, -320]
    },
    {
      "parameters": {
        "fromEmail": "rapor@stoaix.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "id": "e6d7c8b9-9a0b-4c1d-7e8f-9a0b1c2d3e4f",
      "name": "Send Daily Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1392, -320],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 23:59": {
      "main": [
        [
          {
            "node": "Get Active Clinics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clinics": {
      "main": [
        [
          {
            "node": "Split Clinics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clinics": {
      "main": [
        [
          {
            "node": "Get Clinic Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clinic Conversations": {
      "main": [
        [
          {
            "node": "Calculate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Stats": {
      "main": [
        [
          {
            "node": "Upsert Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Stats": {
      "main": [
        [
          {
            "node": "Format Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Body": {
      "main": [
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89f94887-1fe6-4fab-be23-57ab59dcff4e",
  "meta": {
    "instanceId": "e7ca8ba8500495191ee82da116d3a2d4871317bef04b1593bd69df3fd909701b"
  },
  "id": "MIRiNZ3R05QUl6kI",
  "tags": [
    {
      "updatedAt": "2026-02-27T10:27:03.994Z",
      "createdAt": "2026-02-27T10:27:03.994Z",
      "id": "VfntH0O8QWGekkEI",
      "name": "CoreProduct"
    }
  ]
}
