n8n-workflows/WF5 - Stale Conversation Check DEMO.json
{
  "name": "WF5 - Stale Conversation Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "1b4477a2-4be0-4bc7-8faa-9ba123b1b227",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1152,
        272
      ]
    },
    {
      "parameters": {
        "url": "=https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/conversations?status=eq.active&human_takeover=eq.false&last_message_at=lt.{{ new Date(Date.now() - 48*60*60*1000).toISOString() }}&select=id,contact_id,message_count,lead_score,clinic_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            }
          ]
        },
        "options": {}
      },
      "id": "23fa0c33-2c67-41bf-a02d-092d94a5c4df",
      "name": "Find Stale Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        272
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst convs = Array.isArray(raw) ? raw : (raw && raw.id ? [raw] : []);\n\nif (convs.length === 0) return [{ json: { hasStale: false } }];\n\nreturn convs.map(c => {\n  const msgCount = c.message_count || 0;\n  const currentScore = c.lead_score || 0;\n  // Geçerli DB statüleri: active, handed_off, closed\n  // 2+ mesaj: müşteriyle etkileşim olmuş → active tut ama skoru düşür\n  // 0-1 mesaj: hiç etkileşim yok → kapat\n  const newStatus = msgCount >= 2 ? 'active' : 'closed';\n  const newScore = Math.max(0, currentScore - 15);\n\n  return {\n    json: {\n      ...c,\n      hasStale: true,\n      newStatus,\n      newScore,\n      newTag: 'cold_lead'\n    }\n  };\n});"
      },
      "id": "507ddede-e461-4f95-a8fe-cf031b647498",
      "name": "Classify Stale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "e05bbb53-c5ff-4e2d-b82a-019d82c93f59",
              "leftValue": "={{ $json.hasStale }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "605261f2-da16-4ae9-9e40-39d08bc1388b",
      "name": "Has Stale?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        272
      ]
    },
    {
      "parameters": {},
      "id": "a4e2e8df-6940-4021-b454-44f2c1eb9f70",
      "name": "No Stale",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        432
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://iylabpsokydolhuhvvwi.supabase.co/rest/v1/conversations?id=eq.{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bGFicHNva3lkb2xodWh2dndpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA4OTY4MiwiZXhwIjoyMDg2NjY1NjgyfQ.O01ol7bGXIw25yQj5cWiQd5kdke2yb0BYy_-8Pq2ZoM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.newStatus }}\",\n  \"lead_score\": {{ $json.newScore }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "12d8612c-b242-4998-88c5-63797c65936e",
      "name": "Update Conv Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Md0VYQIRwzXvJz7P",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/functions/v1/crm-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"version\": \"v1\",\n  \"action\": \"add_tags\",\n  \"clinic_id\": $json.clinic_id,\n  \"correlation_id\": $json.contact_id + \"_coldtag_\" + Date.now(),\n  \"idempotency_key\": $json.contact_id + \"_cold_lead_tag\",\n  \"params\": {\n    \"contact_id\": $json.contact_id,\n    \"tags\": [$json.newTag]\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2949ae75-8391-4b02-bedf-2286da9f1746",
      "name": "GHL Add Cold Lead Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        16
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://iylabpsokydolhuhvvwi.supabase.co/functions/v1/crm-gateway",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"version\": \"v1\",\n  \"action\": \"remove_tags\",\n  \"clinic_id\": $json.clinic_id,\n  \"correlation_id\": $json.contact_id + \"_rmtag_\" + Date.now(),\n  \"idempotency_key\": $json.contact_id + \"_remove_ai_active\",\n  \"params\": {\n    \"contact_id\": $json.contact_id,\n    \"tags\": [\"ai_active\"]\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c99fdfae-71c5-411e-94b3-b90b16dc3018",
      "name": "Remove AI Active Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        16
      ],
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Find Stale Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Stale Conversations": {
      "main": [
        [
          {
            "node": "Classify Stale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Stale": {
      "main": [
        [
          {
            "node": "Has Stale?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Stale?": {
      "main": [
        [
          {
            "node": "Update Conv Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Stale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conv Status": {
      "main": [
        [
          {
            "node": "GHL Add Cold Lead Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Add Cold Lead Tag": {
      "main": [
        [
          {
            "node": "Remove AI Active Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5b3bd5c0-fb82-4fc1-ae7b-89e23e12b557",
  "meta": {
    "instanceId": "e7ca8ba8500495191ee82da116d3a2d4871317bef04b1593bd69df3fd909701b"
  },
  "id": "2ZNbfuqpF8cvSFXB",
  "tags": []
}